@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient(to bottom, #2c324e, #12141f);
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  color: #fff;
  padding: 100px 50px 50px 50px;
  max-width: 100%;
  display: flex;
  font-family: 'Raleway';
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
  .container {
    display: block;
  }
}

.head h1 {
  font-size: 70px;
}

.head {
  padding-top: 100px;
  padding-bottom: 90px;
}

.heading h6 {
  font-size: 13px;
  font-family: 'Open Sans';
  color: #cdcdcd;
  padding: 10px;
}

.container p {
  font-family: 'open sans';
  font-size: 15px;
  line-height: 25px;
  padding: 10px;
  color: #cdcdcd;
}

.heading {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.about {
  flex-direction: column;
  flex: 1;
  padding: 10px;
}

.heading .button-apply {
  transition-duration: 0.4s;
  margin-top: 25px;
  width: 200px;
  background: #414a74; /* Green */
  border: none;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  padding: 10px;

  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.button-apply:hover {
  background-color: #cdcdcd; /* Green */
  color: black;
}

.a {
  color: white;
  text-decoration: none;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  height: 60px;
  width: 100%;
  background-color: #080d19;
  color: white;
  /* display: inline-grid; */
  padding: 0;
  position: static;
}

@media only screen and (max-width: 1000px) {
  .footer {
    position: static;
    width: 100%;
    display: flex;
    margin-bottom: 0px;
    text-align: center;
  }
}

.fab {
  padding: 20px 15px;
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.image,
.footer img {
  width: 250px;
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px;
}

.form {
  padding-right: 30px;
  padding-bottom: 200px;
  text-align: center;
}

form input {
  color: white;
  font-family: 'Raleway';
  width: 250px;
  margin: 10px;
  padding: 14px;
  background-color: #282b41;
  border: #1b1e2d;
}

select {
  color: #9e9e9e;
  font-family: 'Raleway';

  width: 200px;
  margin: 10px;
  padding: 14px;
  background-color: #282b41;
  border: #1b1e2d;
}

form ::placeholder {
  color: grey;
}

.submit {
  background-color: #4169e1;
  border-radius: 5px;
  border: none;
  color: white;
  font-family: 'Raleway';
  width: 180px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
}

.form p {
  text-align: center;
  font-size: 15px;
  font-family: 'Open Sans';
  color: white;
  padding-top: 40px;
  padding-bottom: 10px;
}

.contact {
  padding-top: 50px;
  padding-bottom: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 500px;
  font-family: 'Raleway';
}

.info-left {
  color: white;
  padding-bottom: 90px;
}

.info-right {
  color: white;
}

.contact h2 {
  padding: 1px;
  margin: 0px;
}
.contact p {
  padding: 3px;
  margin-top: 0px;
}
